.add-comment-btn {
  margin-left: 60px;
}

.comment-section{
    margin-top: 10px;
}

.comment-single{
    display: flex;
    margin-bottom: 10px;
}

.comment-profil-picture img {
  width: 50px;
}

.delete-comment-btn {
    width: 30px;
    cursor: pointer;
}

.comment-single {
    background-color: white;
    border-radius: 25px;
    padding: 2px
}