.footer-container {
    width: 100%;
    height: 50px;
    background-color: #091f43;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0; 
    position: fixed;
}

.logo-footer {
    width: 120px; 
}