.forum-card {
  display: flex;
  margin-top: 30px;
  padding: 3%;
  border-radius: 25px;
  border: solid white 5px;
  box-shadow: 10px 0px 20px white;
  flex-direction: column;
}

.hidden-h1 {
  display: none;
}

.card-title-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.three-dots {
  color: white;
}

.container-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.delete-btn {
  height: 30px;
  margin: 20px 0;
  display: flex;
  padding: 10px;
  border-radius: 25px;
  border: solid white 5px;
  box-shadow: 10px 0px 20px white;
  display: flex;
  flex-direction: row;
  width: 106px;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.modify-btn {
  height: 30px;
  margin: 20px 0;
  display: flex;
  padding: 10px;
  border-radius: 25px;
  border: solid white 5px;
  box-shadow: 10px 0px 20px white;
  display: flex;
  flex-direction: row;
  width: 106px;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.card-buttons-box {
  display: flex;
  justify-content: flex-end;
}

.displaynone {
  display: none;
}

.created-by-tag-smartphone {
  display: none;
}

.btn {
  margin-top: 50px;
  display: flex;
  padding: 10px;
  border-radius: 25px;
  border: solid white 5px;
  box-shadow: 10px 0px 20px white;
  display: flex;
  flex-direction: row;
  width: 106px;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.forum-container {
  width: 80%;
  margin: 0 auto 150px auto;
}

.input-file {
  margin: 10px 0 10px 0;
}

.input-title {
  margin: 10px 0 10px 0;
}

.input-content {
  margin: 10px 0 10px 0;
  height: 150px;
}

.submit-btn {
  margin: 10px auto;
  border: none;
  background-color: rgb(137, 255, 143);
  padding: 5px;
  font-weight: bolder;
  width: 20%;
  cursor: pointer;
}

.post-img {
  max-width: 100%;
  max-height: 250px;
  object-fit: cover;
}

.container-comments {
  width: 100%;
  height: auto;
}

.container-DropdownDelMod {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.add-comment-btn {
  margin: 20px 0;
  display: flex;
  padding: 10px;
  border-radius: 25px;
  border: solid white 5px;
  box-shadow: 10px 0px 20px white;
  display: flex;
  flex-direction: row;
  width: 106px;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.comment-section {
  width: 94%;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.comment-single:first-of-type {
  margin-top: 15px;
}

.comment-single {
  width: 90%;
  margin: 0 auto 13px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(185 185 185);
  padding: 1%;
  display: flex;
  justify-content: space-between;
}

.delete-comment-btn {
  margin-top: 6px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .created-by-tag-laptop {
    display: none;
  }

  .created-by-tag-smartphone {
    display: block;
  }

  .post-img {
    max-height: 150px;
  }
}

@media (max-width: 425px) {
  .forum-container {
    width: 90%;
    margin: 50px auto;
  }

  .upload {
    margin: 0 auto;
  }

  .add-comment-btn {
    margin: 10px auto;
  }
}
