.hidden-h1 {
  display: none;
}

.forum-container {
  width: 50%;
  margin: 20px auto;
}

.forum-card {
  display: flex;
  margin-top: 20px;
}

.card-profil-picture img {
  width: 50px;
}

.card-content {
  margin-left: 10px;
}

.content-name {
  height: 50px;
  vertical-align: middle;
  display: table-cell;
  font-size: 20px;
}

.post-img {
  margin-top: 10px;
  border-radius: 30px;
  width: 100%;
  max-height: 500px;
}

.list-btn {
  display: flex;
  height: 30px;
  justify-content: space-between;
}




@media (max-width: 425px) {
  .forum-container {
    width: 90%;
  }
}
