.hidden-h1 {
  display: none;
}

.upload {
  font-weight: 800;
  line-height: 1;
}

.forum-container {
  width: 50%;
  margin: 20px auto;
}

.forum-card {
  display: flex;
  margin-top: 20px;
}

.card-profil-picture img {
  width: 50px;
}

.card-content {
  margin-left: 10px;
}

.content-name {
  height: 50px;
  vertical-align: middle;
  display: table-cell;
  font-size: 20px;
}

.post-img {
  margin-top: 10px;
  border-radius: 30px;
  width: 100%;
  max-height: 550px;
}

.three-btn {
  display: flex;
  justify-content: space-between;
}

button {
  border-radius: 20px;
  color: #ffffff;
  background-color: #d1515a;
  transition: all 0.2s;
  cursor: pointer;
  border: none;
  line-height: 0;
  padding: 15px 20px;
}

button:hover {
  background-color: #ad444b;
}

.modify-btn {
  margin: 0 0 5px 5px;
  float: right;
}

.delete-btn {
  float: right;
}

@media (max-width: 425px) {
  .forum-container {
    width: 90%;
  }
}
