.header-container {
  width: 100%;
  height: 100px;
  background-color: white;
  box-shadow: 3px 3px 25px #091f43;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-header {
  width: 300px;
  height: 300px;
}

.header-link {
  text-decoration: none;
  color: black;
}

.btn-border {
  border: 1px solid black;
  padding: 10px;
}

.logout-btn {
  padding: 4px;
  border: none;
  background-color: #d1515a;
  box-shadow: 5px 0px 10px #d1515a;
  border-radius: 10px;
  height: 70px;
  width: 60%;
  cursor: pointer;
}

.square {
  min-width: 30%;
  max-width: 35%;
  height: 100vh;
  padding: 100px auto;
  background-color: white;
  position: fixed;
  z-index: 999;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transform: translateX(100%);
  transition: transform 0.5s ease;
}

.square.active {
  transform: translateX(0);
}

.toggle-nav-btn {
  background: none;
  border: none;
  font-size: 25px;
  color: #d1515a;
  margin: 9px 5px 0 20px;
  cursor: pointer;
}

@media (max-width: 780px) {
  .square {
    width: 100%;
    max-width: 100%;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
  }

  .square.active {
    transform: translateX(0);
  }
}

@media (max-width: 450px) {
  .square {
    width: 100%;
    max-width: 100%;
    transform: translateY(100%);
    transition: transform 0.5s ease;
  }

  .square.active {
    transform: translateX(0);
  }
}
