
/*profil*/


.profil-container {
    display: flex;
    margin: 200px 0 50px 0;
    padding: 2%;
    border-radius: 25px;
    box-shadow: 10px 0px 20px white;
    flex-direction: row;
    background-color: #ffffff;
  }
  
  .hidden-h1 {
    display: none;
  }

  .underline {
    width: 100%;
    height: 3px;
    background-color: rgb(209, 209, 209);
    margin-top: 20px;
    margin-bottom: 20px;
}

  .image-container {
    min-width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    margin: 0 3%;
  }
  
  
  .vertical-bar {
    background-color: white;
    min-width: 3px;
    height: 200px;
    margin: 0 5%;
    border-radius: 30px;
  }
  
  .info-container {
    width: 100%;
    height: auto;
    background-color: white;
    margin-top: 200px;
    padding: 2%;
    border-radius: 20px;
    margin-top: 35px;
  }
  
  .profil-info-input {
    font-weight: 800;
  }

  .thead {
    display: none;
  }

  .main-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .delete-account-button {
    margin-top: 50px;
     padding: 10px;
     border: none; 
    
     font-weight: bold;
     background-color: #d1515a;
     box-shadow: 5px 0px 10px #d1515a;
     border-radius: 10px;
     height: 70px;
     cursor: pointer;
     
  }

.delete-account-container {
  width: 30%;
  height: auto;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  z-index: 1000; 
  border-radius: 20px;

}
 
.overlay {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 1000;
}

.answer-btn-box {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-answer {
  width: 100%;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  margin-top: 10px;
  height: 40px;
}

.yes {
  color: rgb(253, 91, 91);
}

.delete-profil-msg {
  margin: 150px auto;
  width: 40%;
  height: 160px;
  background-color: white;
  border-radius: 20px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}     

.card-status {
  width: 40%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 10px;
}

.admin {
  background-color: rgb(91, 167, 253);
}

.user {
  background-color: rgb(91, 253, 126);
}

.profil-line {
 display: flex;
 flex-direction: row;
}

.profil-line-data {
  margin-left: 50px;
}

@media (max-width: 425px) { 

  .main-container {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.profil-line {
  margin-bottom: 15px;
}

.delete-account-button {
  width: 60%;
  margin: 50px auto;
}

.profil-container {
  background-color: white;
}

.card-status {
  width: 100%;
}

}