* {
    padding: 0; 
    margin: 0;
}

.profile-container {
    display: flex;
    flex-direction: row;
    margin: 20px 10%;
}

.profile-picture-container {
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
    background-color: white;
    
}

.profile-info {
    margin-left: 100px;
}