.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.textInput {
  width: 400px;
  height: 100px;
}

.submit-btn {
  margin-top: 30px;
  cursor: pointer;
}